header {
  padding: 20px; }
  header .navbar-default {
    background-color: #fff;
    border-color: #e7e7e7; }
    header .navbar-default .navbar-default.navbar-nav li a {
      color: #1b2e41; }

.imagenFondo {
  background-image: url("http://www.busign.nl/images/indexbanner-bg.jpg");
  width: 100%;
  height: 361px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .imagenFondo .container .jumbotron {
    background-color: transparent;
    vertical-align: middle; }
    .imagenFondo .container .jumbotron h1 {
      color: #fff;
      font-size: 40px; }
    .imagenFondo .container .jumbotron p {
      color: #fff;
      font-size: 15px; }

.navbar-form .form-group input {
  width: 100%; }
